# Ignorer les fichiers volumineux
*.json
*.scrapy

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/


# Jupyter
.ipynb_checkpoints/
# Models
*.pkl
*.joblib

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db