PORT=3001
NODE_ENV=development
DB_PATH=../data/estatamind.db
CSV_PATH=../bigfinal_realestate_Cleaned.csv
AIRFLOW_API_URL=http://localhost:8081/api/v1
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
CACHE_TTL=300
CORS_ORIGIN=http://localhost:5173
